* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5c006b;
    width: 100vw;
    padding: 10px;
}

.navbar-nav {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
}