* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: lexend;
  src: url("../src/assets/Fonts/Lexend/static/Lexend-Regular.ttf");
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 100px 0 30px 0;
  overflow-x: hidden;
}

.card {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  text-transform: uppercase;
}

.card-header>i {
  padding-right: 0.7rem;
}

.resumo-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resumo-card {
  min-width: 220px;
  padding: 16px 20px;
  border-radius: 10px;
  border: 2px solid #7b3fe4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resumo-titulo {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.resumo-valor {
  font-size: 20px;
  font-weight: bold;
}

.resumo-valor.positivo {
  color: #00b050;
}

.resumo-valor.negativo {
  color: #ff3b3b;
}